<body>
    <div class="container">

        <div class="calc">
            <img src="assets/images/calculate_24.svg" alt="Calculadora" class="logo_calc">
            <div class="calc_title">
                Calculadora
            </div>
            <input type="number" [(ngModel)]="num1" />
            <input type="number" [(ngModel)]="num2" />
          
            <div class="button_calc">
                <button (click)="calc('+')">+</button>
                <button (click)="calc('-')">-</button>
                <button (click)="calc('*')">*</button>
                <button (click)="calc('/')">/</button>
                <button (click)="calc('^')">^</button>
                <button (click)="calc('√')">√</button>
            </div>
            
          
            <input type="text" [value]="output" readonly />
        </div>
    
        <div class="history">
            <div class="history_title">
                Histórico:
            </div>  
            <div class="last_operation">
                <small>10 ultimas operações:</small>
                <div id="history">
                    <ul>
                        <li *ngFor="let item of history">
                            <p>{{item}}</p>
                        </li>
                    </ul>  
                </div>
            </div>
             
        </div>
    </div>
</body>



